

.o >span {
    position: absolute;
    inset: 15.4%;
    text-align: center;
    transform: rotate(calc(15deg * var(--i)));
    
}
.o >span .b {
    height: 4.3%;
    width: 4.3%;
    border-radius: 50%;
    box-shadow: 1px 1.2px 2.2px 0px rgba(169, 44, 50, 1);
    transition: background-color 175ms ease-in-out;

}

.o >span:nth-child(even) .b {                   
    background-color: #fff;


}
.o> span:nth-child(odd) .b{
    background-color: #ff8830;

}



/* .o span:first-child {
    
    top: 1.5%;
   
  
}

.o span:nth-child(2) {
    
    top: 3.5%;
    right: 36%;
    
} */
