* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 786eff */



body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #28007e, #3c0c9d, #511bbc, #6628dd, #7c36ff);
    -webkit-font-smoothing: antialiased;
    
    
}

.container {
    position: relative;
    background-image: url('../images/H5.png');
    height: inherit; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#top-bar {
    position: absolute;
    width: 100%;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
  
    z-index: 4;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#rules {
    background-image: linear-gradient( 180deg, rgb(100,39,219) 0%, rgb(143,84,255) 52%, rgb(102,40,221) 100%);
    box-shadow: -2.347px 14.815px 49px 0px rgba(85, 32, 186, 1);

    border-radius: 80px;
    width: 27%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
    
}

#rules-btn{
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    font-style: italic;
    height: inherit;
    width: 100%;
    border-radius: inherit;
    box-shadow: 0px 0 3px rgba(0, 0, 0, .3);
    
}



#top-bar button {
    border: 0;
    background: transparent;
}
#back-btn    {
    color: white;
    padding: 0 0.75rem;
}

#heading {
    color: #ffffff;
    width: fit-content;
    text-shadow: 3px 0 0 #fed450, -3px 0 0 #fed450, 0 3px 0 #fed450, 0 -3px 0 #fed450, 2px 2px #fed450, -2px -2px 0 #fed450, 2px -2px 0 #fed450, -2px 2px 0 #fed450;
    
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    top: 10%;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: .2px;
}

#audio-div {
    position: absolute;
    top: 11%;
    right: 17px;
    z-index: 4;
    height: 40px;
    width: 40px;
}

#audio-div img {
    max-width: 100%;
}

.audio-paused::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1.5px;
    width: 98.9%;
    transform: rotate(45deg);
    background-color: white;
    z-index: 3;

}



.o {
    position: relative;
    height: 39%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* top: 37%; */
  
    transform: translateY(14%);
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #771dff;
    box-shadow: 0 0 0 4.5px #ff8830, 0 0 0 9px #fff951;
}


.wheel {
    border-radius: 50%;
    position: relative;
    border: .5px solid rgba(98, 7, 235, .9);
    height: 77%;
    aspect-ratio: 1;
    
    box-shadow:  0px 0px 35px 0px rgba(149, 68, 20, .8) inset,0px 1px 2px 0px rgba(0, 0, 0, 0.35), 0px 0px 10px 0px rgba(0, 0, 0, 0.05) inset,0 0 0 14px #786eff;
    overflow: hidden;
    z-index: 2;
    transition: transform ease 7s;
    /* mix-blend-mode: multiply ; */
}



.coin img {
    height: 25px;
}

.spokes1 {
   overflow: hidden;
   
   height: 100%;
}

.spokes1 >div {
  
    height: 50%;
    width: 50%;

    position: absolute;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.spoke-purple {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .8) inset, 0px 0px 5px 0px rgba(149, 68, 20, .95) inset;
}




.spoke4 {
    position: absolute;
    z-index: -444;
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #7021e8;
    top: 50%;
    transform: translateY(-50%);
}

.spoke2 {
    position: absolute;
    z-index: -444;
    clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
    background-color: #7021e8;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.spoke3 {
    position: absolute;
    z-index: -444;
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #7021e8;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.spoke1 {
    position: absolute;
    z-index: -444;
    clip-path: polygon(50% 100%, 92% 0%, 8% 0%);
    background-color: #7021e8;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.spokes2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(-136deg);
}
.spokes2>div {
    height: 50%;
    width: 50%;
    
    position: absolute;
    text-align: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.spokes1>div.coin-wrapper,.spokes2>div.coin-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spoke-white {
    background-color: #e9e0ff;

    box-shadow: 0px 0px 35px 0px rgba(149, 68, 20, .95) inset, 0px 0px 3px 0px rgba(0, 0, 0, .8) inset;
    
}

.spokes1>div>.coin-wrapper, .spokes2>div>.coin-wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translateY(-25%); */
    
}
.spokes1>div>.coin-wrapper{
    transform: rotate(calc(45deg * var(--r))) translateY(-35%)!important;
}


.spokes2>div>.coin-wrapper {
    transform: rotate(calc(136deg + calc(45deg * var(--r)))) translateY(-35%) !important;
}


  
.spokes1>div>.coin-wrapper span {
    color: white;
}
.spokes2>div>.coin-wrapper span {
    color: #7021e8;
}




#inner-marker {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.3rem;
    aspect-ratio: 1;
    background-color: #c4c0ff;
    
    z-index: 6;
    border-radius: 50%;
    box-shadow:  0px 0px 7px 0px rgba(255, 255, 255, .7) inset, 0 0 1px 3px #ab73ff, 0 0 0px 7px #5252f9, inset 0px 0px 35px 0px rgba(158, 45, 235, 0.004),  0 0 0 11px #FFFFFF, 0 0 25px  5px rgba(0, 0, 0, 1);



}

#inner-marker::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: white;
    top: -23.5px;
    left: 50%;
    transform: translateX(-50%)
}

.start-btn-container{
    position: absolute;
    position: absolute;
    bottom: 5%;
    height: 50px;
    width: 70%;
    border-radius: 80px;
    box-shadow: 0 10px 15px 0 rgba(255,180,38 ,0), 0 10px 35px 0 rgba(255,234,108, .5);
    
}

#start {
    height: inherit;
    width: 100%;
    border-radius: 80px;
    background-image: linear-gradient(180deg, #FFE05E 0%, #FFBD31 100%);
    outline: none;
    border: none;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
     color: #3C0D9C;
     padding: .15rem .5rem;
}

#spin-status {
    position: absolute;
    bottom: 12.5%;
    width: fit-content;
    width: 169px;
    height: 36px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

/* othercolor/ffffff */

    color: #FFFFFF;
    /* background: #311898; */
    display: flex;
    justify-content: center;
    align-items: center;
}




.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    transform: translateY(100%);
    z-index: 8;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.81);
    overflow: hidden;
    /* transition: 0.25s; */
    
    
  }
  
  
  .overlay-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5908D6;
    border-radius: 12px;
    border: 15px solid #781DFF;
    padding: .5rem;
  }

  
  
  .overlay-content2 {
    background-color: #FFFFFF;
    border: 0;
  }

  .overlay-pop-up {
      animation: popUp ease-in-out .5s forwards; 
  }

  @keyframes popUp {
      0%{
          transform: translateY(100%);
      }

      75%{
          transform: translateY(-25px);
      }
      95%{
          transform: translateY(12.5px)
      }

      100% {
          transform: translateY(0);
      }
  }

  /* .overlay-hide {
      transition: transform ease-in-out .5s;
      transform: translateY(100%);
  } */

  .overlay-content p{
      font-weight: 600;
      color: #FFFFFF;
      margin-bottom: 1rem;
      line-height: 150%;
  }

  #congrats {
      font-size: 17px;
  }

  #prize-p {
      font-size: 22px;
  }

  #prize, #amount{
    color: #FFD850;
    font-weight: 400;
  }

  #share-p {
    font-size: 13px;
      
    background: #A265FF;
    border-radius: 13px;
    padding: .5rem .25rem;
    width: 95%;
  }
 

  #share-btn {
    background: linear-gradient(180deg, #FFE05E 0%, #FFBD31 100%);
    border-radius: 80px;
    height: 49px;
    border: 0;
    width: 95%;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    color: #3C0D9C;
  }

  .close-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 0;
    height: 40px;
    width: 40px;

  }

  .close-btn img {
      max-width: 100%;
  }
  #share{
      position: absolute;
      bottom: 20px;
      height: 100px;
      width: 100%;
  }
  

/* Rules page */


#rules-page {
    height: 100%;
    width: 100%;
    position: fixed;
    transform: translateX(100%);
    z-index: 8;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    transition: transform .2s;
    font-weight: 400;
font-size: 15px;
line-height: 150%;

}
#rules-page>div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#rules-header {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 1rem .5rem 1rem 0;
    border-bottom: 1.1px solid #DDDDDD;;
}

#rules-header h2 {
    font-size: 19px;
    line-height: 150%;

    text-align:center;
    color: #222222;
}

#rules-header button {
    background-color: transparent;
    border: 0;
}

#rules-back {
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: flex-start;
}
#rules-back-btn {
    width: 100%;
    text-align: start;
}

.purple-span {
    color: #965efb;
    font-weight: 600;
}

.the-rules {
    margin-top: 1rem;
}

.the-rules > * + *{
    margin-top: 1rem;
}

ul {
    list-style-type: none;
}

ul > * + * {
    margin-top: .5rem;
}

ul>li {
    color: #965efb;
    padding-left: 1rem;
    font-weight: 600;
}


#emoji {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    height: 100px;
    width: 100px;

}

#emoji img {
    max-width: 100%;
}

.overlay-content2 p{
    color: #222222;
}

#try-now {
    color: #707070;
    opacity: .84;
    font-weight: 400;
}

#claim-now {
    border: 1px solid #222222;
    width: 90%;
    background-color: transparent;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 2rem;
    
}



  




/*
.circle-main {
    height: inherit;
    width: 100%;
    position: absolute;
    background-image: url(images/circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: color-dodge;   
    opacity: .2;
}

}

.circle {
    position: absolute;
    top: 10%;
    /* transform: translateY(-10%); 
    height: inherit;
    width: 100%;
    background-image: url(images/layer\ 2.png);
    /* background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: color-dodge; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wheel {
    position: absolute;
    height: inherit;
    width: 100%;
    background-image:  url(images/zodiac\ signs.png);
    /* background-blend-mode: color-dodge; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wheel>div {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border-radius: 50%;
    height: 20%;
    aspect-ratio: 1;
    background-color: transparent;
    border: 5px solid #5b27be;
}
/* top color:5b27be; 

*/


